html, body, img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.visible {
    display: block !important;
}

@import "preload";
@import "loading";

#input {
    opacity: 0;
    position: absolute;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#overlay {
    display: none;

    &.visible {
        display: block;
    }
}
