head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    link(href='app.css' rel='stylesheet')
    link(href='favicon.ico', rel='icon')
    link(href='images/bg.png' rel='prefetch' as='image')
    link(href='images/overlay/arse.png' rel='prefetch' as='image')
    link(href='images/overlay/bastard.png' rel='prefetch' as='image')
    link(href='images/overlay/cunt.png' rel='prefetch' as='image')
    link(href='images/overlay/dick.png' rel='prefetch' as='image')
    link(href='images/overlay/elephant-cock.png' rel='prefetch' as='image')
    link(href='images/overlay/fuck.png' rel='prefetch' as='image')
    link(href='images/overlay/fuck-off.png' rel='prefetch' as='image')
    link(href='images/overlay/gash.png' rel='prefetch' as='image')
    link(href='images/overlay/hymen.png' rel='prefetch' as='image')
    link(href='images/overlay/iguana-scrotum.png' rel='prefetch' as='image')
    link(href='images/overlay/jizz.png' rel='prefetch' as='image')
    link(href='images/overlay/kangeroo-spunk.png' rel='prefetch' as='image')
    link(href='images/overlay/labia.png' rel='prefetch' as='image')
    link(href='images/overlay/minge.png' rel='prefetch' as='image')
    link(href='images/overlay/nads.png' rel='prefetch' as='image')
    link(href='images/overlay/ovaries.png' rel='prefetch' as='image')
    link(href='images/overlay/piss.png' rel='prefetch' as='image')
    link(href='images/overlay/quim.png' rel='prefetch' as='image')
    link(href='images/overlay/rectum.png' rel='prefetch' as='image')
    link(href='images/overlay/shite.png' rel='prefetch' as='image')
    link(href='images/overlay/tit.png' rel='prefetch' as='image')
    link(href='images/overlay/urine.png' rel='prefetch' as='image')
    link(href='images/overlay/vaginal-discharge.png' rel='prefetch' as='image')
    link(href='images/overlay/wank.png' rel='prefetch' as='image')
    link(href='images/overlay/xylophone-buggery.png' rel='prefetch' as='image')
    link(href='images/overlay/you-cunt.png' rel='prefetch' as='image')
    link(href='images/overlay/zebra.png' rel='prefetch' as='image')
    link(href='audio/arse.mp3' rel='prefetch' as='audio')
    link(href='audio/bastard.mp3' rel='prefetch' as='audio')
    link(href='audio/cunt.mp3' rel='prefetch' as='audio')
    link(href='audio/dick.mp3' rel='prefetch' as='audio')
    link(href='audio/elephant-cock.mp3' rel='prefetch' as='audio')
    link(href='audio/fuck.mp3' rel='prefetch' as='audio')
    link(href='audio/fuck-off.mp3' rel='prefetch' as='audio')
    link(href='audio/gash.mp3' rel='prefetch' as='audio')
    link(href='audio/hymen.mp3' rel='prefetch' as='audio')
    link(href='audio/iguana-scrotum.mp3' rel='prefetch' as='audio')
    link(href='audio/jizz.mp3' rel='prefetch' as='audio')
    link(href='audio/kangeroo-spunk.mp3' rel='prefetch' as='audio')
    link(href='audio/labia.mp3' rel='prefetch' as='audio')
    link(href='audio/minge.mp3' rel='prefetch' as='audio')
    link(href='audio/nads.mp3' rel='prefetch' as='audio')
    link(href='audio/ovaries.mp3' rel='prefetch' as='audio')
    link(href='audio/piss.mp3' rel='prefetch' as='audio')
    link(href='audio/quim.mp3' rel='prefetch' as='audio')
    link(href='audio/rectum.mp3' rel='prefetch' as='audio')
    link(href='audio/shite.mp3' rel='prefetch' as='audio')
    link(href='audio/tit.mp3' rel='prefetch' as='audio')
    link(href='audio/urine.mp3' rel='prefetch' as='audio')
    link(href='audio/vaginal-discharge.mp3' rel='prefetch' as='audio')
    link(href='audio/wank.mp3' rel='prefetch' as='audio')
    link(href='audio/xylophone-buggery.mp3' rel='prefetch' as='audio')
    link(href='audio/you-cunt.mp3' rel='prefetch' as='audio')
    link(href='audio/zebra.mp3' rel='prefetch' as='audio')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" rel="stylesheet")
