doctype html
include head
body#body
    include game
    include preload
    include loader

    a.github-fork-ribbon(href="https://github.com/MacroMan/buffy" rel="nofollow" target="_blank" data-ribbon="Fork me on GitHub" title="Fork me on GitHub") Fork me on GitHub
