div#loading
    .cssload-cssload-wrap2
        .cssload-wrap
            .cssload-overlay
            .cssload-cogWheel.cssload-one
                .cssload-cog.cssload-one
                .cssload-cog.cssload-two
                .cssload-cog.cssload-three
                .cssload-cog.cssload-four
                .cssload-cog.cssload-five
                .cssload-center
            .cssload-cogWheel.cssload-two
                .cssload-cog.cssload-one
                .cssload-cog.cssload-two
                .cssload-cog.cssload-three
                .cssload-cog.cssload-four
                .cssload-cog.cssload-five
                .cssload-center
